.blog_container {
  padding: 75px 0 100px;
  .information_block {
    max-width: 500px;
    margin: 0 auto;
    h2 {
      font-size: 48px;
      line-height: 58px;
      color: #000000;
      margin: 0;
    }
    p {
      font-size: 12px;
      line-height: 180%;
      font-style: italic;
      color: #717171;
      margin: 20px 0 38px;
    }
    a {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $black;
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $black;
        bottom: -5px;
        left: 0;
      }
    }
  }
  .blog_item_container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    .blog_item {
      max-width: 365px;
      margin-right: 15px;
      &:last-of-type {
        margin: 0;
      }
      h5 {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #0B0B0D;
        margin: 20px 0 40px;
        max-width: 80%;
      }
      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #58575B;
        margin: 0;
        max-width: 90%;
      }
    }
  }
}